---
layout: page
tagline:
---
{% for post in site.posts %}

<article class="entry row">
<div class="col-sm-12">

  <div class="col-sm-8">
    <div class="index-img">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ post.preview | prepend: site.baseurl }}">
      </a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="info">
      <h2>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>

      <div class="blurb">
        {% if post.fullview %}
        {{ post.content }}
        {% else %}
        {% if post.shortinfo %}
        {{ post.shortinfo }}
        {% elsif post.description %}
        {{ post.description }}
        {% else %}
        {{ post.excerpt }}
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

</div>
</article>
{% endfor %}