---
---

//
// IMPORTS
//

@import "variables";
// Syntax highlighting @import is at the bottom of this file

@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);
// Menu font
@import url(https://fonts.googleapis.com/css?family=Lobster);
// Title font
@import url(https://fonts.googleapis.com/css?family=Merriweather);
// Content font
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

// Default.html
body{
  color: #2c3e50;
  h1,h2,h3,h4,h5,h6 { 
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 600;
    font-size: 36px;
    line-height: 1.4em;
}
  p {
    font-family: "Droid Sans", sans-serif;
    font-size: 13px;
    line-height: 2em;
  }
  p.bold {
    font-weight: bold;
  }
}

.container {
  margin-left: 5px;
  margin-right: 5px;
}

.content {
  padding-top: $menuPadding;
  padding-left: 20px;
}

a.nav-link {
  padding-bottom: 5px;
  padding-top: 7px;
  color: #aaa;
}
a.nav-link i{
  font-size: 16px;
}
a.nav-link:hover { color: #777; }
// 
.text-center{
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.fixed-navbar {
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  left: 0;
}

// Nav
#main-nav {
  clear:both;
  display: inline-block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 70px;
  padding-bottom: 0;
  font-family: 'Lobster', sans-serif;
  font-size: 1.5em; 
  // background-image: url("/images/titleBg.png");
  // background-size: 100% 90%; 
  // background-repeat: no-repeat;
}

#main-nav ul{
  list-style-type: none;
  padding: 0;
  padding-top: 5px;
  margin-bottom: 0;
}

#main-nav ul {
  li {
  display: table-cell;
  padding: 10px 30px;
  }
  li:hover {    
    background-image: url("/images/menuBg.png");
    background-size: 100% 100%; 
    a {      
      text-decoration: none;
      color: #fff;
    }
  }
  a {
    color: #554E47;
    padding: 10px 10px 5px 10px;
  }
}

article{
  margin-bottom: 40px;
}

.article_body{
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-date {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
}

.entry {
  padding: 0;
  margin: 0 0 30px 0;
}

.entry:hover {
  h1 a,
  h2 a,
  h3 a,
  h4 a {
    color: #FF8C00;
    text-decoration: none;
  }
  .blurb p {
    color: #222;
  }
  h2 {
    // background-image: url("/images/titleSplash.png");
    // background-repeat: no-repeat;
    // background-size: auto 110%;
    // background-position: left center;
  }
}

article.entry div a, article.entry pre a { color: #2c3e50; }
article img { max-width: 100%; }

article.entry h1,
article.entry h2,
article.entry h3,
article.entry h4,
article.entry h5,
article.entry h6 {
  color: #FF8C00;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 24px;
}

article.entry h2 {
  // font-size: 125%;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

article.entry h1 a,
article.entry h2 a,
article.entry h3 a,
article.entry h4 a {
  color: #666;
}

article.entry {
  .col-sm-4 {
    padding-right: 0;
    padding-left: 0;
  }
  .col-sm-8 {
    padding: 0;
  }
  .col-sm-12 {
    padding: 0;
  }
}

.index-img {
  padding: 0;
  height: 200px;
  overflow: hidden;
  img {  
    width: 100%;
  }
}

.info {
  padding-top: 5px;
  padding-right: 0px;
  overflow: auto;
  height: 200px;
  .blurb {
    padding-left: 20px;
  }
  .blurb p {
    color: #666;
  }
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

// Sidebar
.sidebar {
  position: fixed;
  padding-top: $menuPadding + 20px;
  color: #595959;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 10px;
}
.sidebar-header .title{
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.sidebar-header .title a{
  text-decoration: none;
  color: #595959;
}

#bio {
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.post-det {
  width: 60%;
  margin: 0 auto;
}

.categories p{
  margin: 0;
}

.top-divider {
  border: none;
  height: 4px;
  width: 50%;
  margin-right: 0;
  margin-bottom: 10px;
}

.divider {
  background-color: #ccc;
  width: 65%;
  border: none;
  height: 1px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

// Post
.page-header {
  color: #3E3E3E;
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
    .page-header{
        margin-right: 70px;
    }
}

.wrapper-footer {
  margin-top: 50px;
  // border-top: 1px solid #ddd;
  // border-bottom: 1px solid #ddd;
  // background-color: $lightGray;
}

footer {
  font-family: 'Josefin Sans';
  text-align: center;
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}

ul.dropdown-menu>li>a>i.fa {
    width: 1.3em;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
